body {
    background: #f0f0f0;
    font-family: helvetica, arial, sans-serif;
    color: black;
    margin: 0;
    padding: 0;
}

div.header-outer {
    background: #f0f0f0;
    color: black;
    border-bottom: 1px solid #ccc;
}

div.header-inner {
    margin: 0 auto;
    max-width: 944px;
    min-width: 280px;
    color: black;
}

div.appstorebadge {
    float: right;
}

div.firstrow-content {
    background: white;
    margin: 0 auto;
    max-width: 944px;
    min-width: 280px;
}

span.title {
    float: left;
    margin: 40 0;
    font-family: helvetica neue, arial, sans-serif;
    font-weight: 100;
    display: table-cell;
    vertical-align: middle;
    text-align: left;
    background: white;
}

span.tagline {
    font-family: "HelveticaNeue-Thin", Helvetica, Arial, sans-serif;
    font-weight: 100;
    font-size: 60;
}

@media only screen and (min-width: 320px) {

    span.title { font-size: 1.25em; margin: 20 0; padding: 14 20; }
    span.tagline { font-size: 1.25em; }
    div.appstorebadge { margin: 25 0; }
    div.appstorebadge img {width: 140; }
    div.header-outer { height: 96; }
    div.header-inner { height: auto; padding: 0 20; }
    div.firstrow-content { padding: 20; }
    img.firstrow { margin-top: 20; }
    div.footer-inner { padding: 20 20; }
    div.darkrow-inner { padding: 20 20; }
}

@media only screen and (min-width: 600px) {

    span.title { font-size: 2.5em; margin: 30 0; padding: 20 30; }
    span.tagline { font-size: 2em; }
    div.appstorebadge { margin: 40 0; }
    div.appstorebadge img { width: 220; }
    div.header-outer { height: 152; }
    div.header-inner { height: auto; padding: 0 40; }
    div.firstrow-content { padding: 40; }
    img.firstrow { margin-top: 40; }
    div.footer-inner { padding: 20 40; }
    div.darkrow-inner { padding: 50 40; }
}

@media only screen and (min-width: 800px) {

    span.title { font-size: 3.75em; margin: 40 0; padding: 20 30; }
    span.tagline { font-size: 3.1em; }
    div.appstorebadge { margin: 60 0; }
    div.appstorebadge img { width: auto; }
    div.header-outer { height: 200; }
    div.header-inner { height: 200; padding: 0 80; }
    div.firstrow-content { padding: 70 80; }
    img.firstrow { margin-top: 80; }
    div.footer-inner { padding: 20 80; }
    div.darkrow-outer { }
    div.darkrow-inner { padding: 50 80; }
}

img {
    max-width: 100%;
}

img.portrait {
    height: 568;
    width: 320;
}

img.landscape {
    height: 320;
    width: 568;
}

div.firstrow {
    background: white;
}


div.lightrow {
    background: white;
    height: 668;
}

div.lightrow-content {
    background: white;
    margin: 0 auto;
    padding: 40 0;
    width: 944;
    height: 568;
}

div.darkrow-outer {
    height: 668;
    background: #f0f0f0;
}

div.darkrow-inner {
    margin: 0 auto;
    max-width: 944px;
    min-width: 280px;
    background: #f0f0f0;
}

div.left-img {
    float: left;
    width: 320;
}

div.right-img {
    float: right;
    width: 320;
}

div.right-landscape-img {
    float: right;
    width: 568;
}

div.left-text {
    float: left;
    width: 680;
}

div.left-text-for-landscape-img {
    float: left;
    width: 320;
}

div.right-text {
    float: right;
    width: 680;
}

div.footer-outer {
    background: #ddd;
}

div.footer-outer a:link {
    color: #111;
    text-decoration: none;
}

    
div.footer-inner {
    margin: 0 auto;
    min-width: 280px;
    max-width: 944px;
    color: white;
}

div.footer-links a.title {
    color: #000;
}

div.footer-links a.app {
    color: #444;
    font-weight: 300;
}

span.footer-copyright {
    font-size: 0.8em;
    font-weight: 100;
    color: #666;
}

div.disclaimer {
    font-weight: 100;
    font-size: 0.8em;
    margin: 20 0;
    color: #888;
}

