body {
    background: #221F2C;
    font-family: helvetica, arial, sans-serif;
    color: black;
    margin: 0;
    padding: 0;
}

@media only screen and (min-width: 320px) {

    div.appstorebadge img { width: 120; }
    div.header-inner { padding: 10 20; }
    div.darkrow-content { padding: 20; }
    div.footer-inner { padding: 20 20; }
    
    img.darkrow { margin-top: 10; }

    span.title { font-size: 1.75em; }
    span.tagline { font-size: 1.25em; }
}

@media only screen and (min-width: 600px) {

    div.appstorebadge img { width: 180; }
    div.header-inner { padding: 20 40; }
    div.darkrow-content { padding: 40; }
    div.footer-inner { padding: 20 40; }
    img.darkrow { margin-top: 40; }

    span.title { font-size: 2.5em; }
    span.tagline { font-size: 2em; }
}

@media only screen and (min-width: 800px) {

    div.appstorebadge img { width: auto; }
    div.header-inner { padding: 20 80 }
    div.darkrow-content { padding: 70 80; }
    div.footer-inner { padding: 20 80; }

    img.darkrow { margin-top: 80; }

    span.title { font-size: 3.5em;}
    span.tagline { font-size: 3.0em; }
}

div.appstorebadge {
    float: right;
}

div.header-outer {
    background: #fafafa;
    color: #fafafa;
    margin: 0;
    padding: 0;
    overflow: auto;
}

div.header-inner {
    margin: 0 auto;
    max-width: 944px;
    min-width: 280px;
    overflow: auto;
    color: black;
}

img {
    max-width: 100%;
}

img.portrait {
    height: 568;
    width: 320;
}

img.landscape {
    height: 320;
    width: 568;
}

div.lightrow {
    background: #fafafa;
    height: 668;
}

div.lightrow-content {
    background: #221F2C;
    margin: 0 auto;
    padding: 40 0;
    max-width: 944px;
    min-width: 280px;
}

div.darkrow {
/*    height: 668;*/
    background: #221F2C;
}

div.darkrow-content {
    margin: 0 auto;
    max-width: 944px;
    min-width: 280px;
    background: #221F2C;
    color: white;
}

div.left-img {
    float: left;
    width: 320;
}

div.right-img {
    float: right;
    width: 320;
}

div.right-landscape-img {
    float: right;
    width: 568;
}

div.left-text {
    float: left;
    width: 680;
}

div.left-text-for-landscape-img {
    float: left;
    width: 320;
}

div.right-text {
    float: right;
    width: 680;
}

div.footer-outer {
    background: #ddd;
}

div.footer-outer a:link {
    color: #111;
    text-decoration: none;
}

    
div.footer-inner {
    margin: 0 auto;
    min-width: 280px;
    max-width: 944px;
    color: white;
}

div.footer-links a.title {
    color: #000;
}

div.footer-links a.app {
    color: #444;
    font-weight: 300;
}

div.disclaimer {
    font-weight: 100;
    font-size: 0.8em;
    margin: 20 0;
    color: #888;
}

span.footer-copyright {
    font-size: 0.8em;
    font-weight: 100;
    color: #666;
}

span.title {
    float: left;
    font-family: futura, helvetica, arial, sans-serif;
    font-weight: 400;
    color: #221F2C;
}

span.tagline {
    font-family: "HelveticaNeue-Thin", Helvetica, Arial, sans-serif;
    font-weight: 100;
}

